hr{
    width: 80%;
}
li{
    /* padding-top: 20px; */
}

.head, .nav{
    display:flex;
    align-items: center;
}
.head{
    justify-content: center;
    padding-top: 2% ;
    padding-bottom: 2%;
    color: white;
    background-color: #00446D;
    background-image: linear-gradient(360deg, #ffffff7a 0%, #00446D 100%); 
 
}
.nav{ 
    justify-content: flex-end;
    width: 75vw;
}
.glogin{
    padding-left: 5%;
}
.pad{
    padding-left: 5%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.pad:hover{
    color: darkorchid;
}

/************** slider ****************/
.PHome{
    border-radius: 50px;
}
.slider{
    width: 100vw;
}

/************** Objective ***************/

.objective{
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #00446D;
    background-color: #EEEEEE;
    
}
.objchild{
   display: flex;
   align-items: center;
   width: 75vw;
}
.headObj{
    margin: 20px;
}
.objchild2{
    text-align: center;
    width: 70vw;
}

/****************** List of Areas *************/

.ListEx{
    padding-top: 50px;
    padding: 20px;
    color: #EEEEEE;
    background-color: #00446D;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: x-large;
}
.ExList{
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}


/************** Institute **************/

.institute{
    font-style: italic;
    font-size: x-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #00446D;
    background-color: #EEEEEE;
}

/***************Footer ************/

.footer{
    display: flex;
    justify-content: center;
    padding-top :50px;
    padding-bottom: 40px;
    color: whitesmoke;
    background-color: rgb(27, 27, 27);

}
.footerchild{
}
.contactfooter{
    padding: 20px;
}

/***************** Experiment ****************/

.expList{
    padding-top: 50px;
    padding-bottom: 28px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.expPageBody{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.back{
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
    position: fixed;
}
.back:hover{
    color: #8f0000;
}

